@page "/counter/{currentCount:int?}"
@rendermode InteractiveServer
@inject NavigationManager navigation

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-outline-warning" @onclick="GoToMedico">Ir para médicos</button>

<NavLink href="/medicos" class="btn btn-danger">Ir para médicos</NavLink>

@code {
    [Parameter]
    public int currentCount { get; set; } = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public void GoToMedico()
    {
        navigation.NavigateTo("/medicos");
    }
}
