@page "/medicos"
@inject IMedicoRepositories repository
@rendermode InteractiveServer

<h3>Médicos</h3>

<table class="table table-striped">
    <tread>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CRM</th>
            <th>#</th>
        </tr>
    </tread>
    <tbody>
        @foreach(var medico in Medicos)
        {
            <tr>
                <td>@medico.Id</td>
                <td>@medico.Name</td>
                <td>@medico.Crm</td>
                <td>
                    <button class="btn btn-outline-danger" @onclick="@(()=> Delete(medico))">Deletar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    public List<Medico>? Medicos;

    protected override async Task OnInitializedAsync()
    {
        Medicos = await repository.GetAllAsync();
    }

    public void Delete(Medico medico)
    {
        Medicos?.Remove(medico);
    }

}
