@page "/medicos"
@inject IMedicoRepositories repository
@rendermode InteractiveServer
@inject NavigationManager navigation

<CustomHeader>
    LISTAGEM DE MÉDICOS
</CustomHeader>

<button class="btn btn-primary" @onclick="NovoMedico">NOVO MÉDICO</button>

<table class="table table-striped">
    <tread>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CRM</th>
            <th>#</th>
        </tr>
    </tread>
    <tbody>
        <MedicoTemplateList Medicos="@Medicos" DeleteCallBack="Delete" />
    </tbody>
</table>

@code {

    public List<Medico>? Medicos;

    protected override async Task OnInitializedAsync()
    {
        Medicos = await repository.GetAllAsync();
    }

    public void Delete(Medico medico)
    {
        Medicos?.Remove(medico);
    }

    public void NovoMedico()
    {
        navigation.NavigateTo("/medico/create");
    }
}
