@page "/medicos"
@inject IMedicoRepositories repository
@rendermode InteractiveServer

<h3>Médicos</h3>

<table class="table table-striped">
    <tread>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CRM</th>
            <th>#</th>
        </tr>
    </tread>
    <tbody>
        <MedicoTemplateList Medicos="@Medicos" DeleteCallBack="Delete"/>
    </tbody>
</table>

@code {

    public List<Medico>? Medicos;

    protected override async Task OnInitializedAsync()
    {
        Medicos = await repository.GetAllAsync();
    }

    public void Delete(Medico medico)
    {
        Medicos?.Remove(medico);
    }

}
